@CHARSET "UTF-8";


#container {
	margin: 35px;
	padding: 20px;
	width: 400px;
	background: #eeeeec none repeat scroll 0 0;
}


body {
	background: #1a4408 none repeat scroll 0 0;
}

#shoppinglisttable {
	margin-top: 20px;
}

thead {
	text-align: left;
}

.delete {
	background-color: #e0d2c8;
	border-radius: 25%;
	border: none;
	margin: auto;
}

.delete:hover {
	background-color: #d8bb22;
}

.list {
	width: 250px;
	padding-left: 15px;
	
}