@CHARSET "UTF-8";

body {
	background: #ffffff none repeat scroll 0 0;
}

#container {
	margin: 35px;
	padding: 20px;
	width: 400px;
	background: #eeeeec none repeat scroll 0 0;
}

h1 {
	font-size: 23px;
}

#itemname {
	width: 175px;
}

#itemamount {
	width: 85px;
}

.add {
	width: 275px;
	height: 30px;	
	margin-top: 10px;
	background: #ff5f08;
	border: none;
}

#shoppinglisttable {
	margin-top: 20px;
}

thead {
	text-align: left;
	padding-left: 15px;
}

.amount {
	padding-left: 15px;
}

.delete {
	background-color: #eeeeec;
	border: 1px;
	margin: auto;
	padding-left: 10px;
}

.delete:hover {
	font-weight: 900;
	cursor: pointer;
}

.list {
	width: 140px;
}

.listamount {
	width: 90px;
	padding-left: 15px;
}